body{
    background-color: #F5F6F7;
    position: relative;
}
@media (min-width:1200px) and (max-width: 1600px){
  .final-part{
    margin: -1075px 1200px;
  }
}

@media (min-width:360px) and (max-width: 768px){
  .final-part{
    display: none;
  }
}
@media (min-width:768px) and (max-width: 1200px){
  .final-part{
    display: none;
  }
}